* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --soft-black: #212121;
    --playfair: 'Playfair', serif;
}

body {
    height: 200vh;
}

/*HEADER START*/

.header-padding {
    padding: 1rem 8rem;
}

.header-container {
    box-shadow: 0 0 2px 0 var(--soft-black);
    position: sticky;
    top: 0;
}

.navigation {
    align-items: center;
}

.header-container .navigation {
    justify-content: space-between;
}

.header-container .navigation .logo {
    color: var(--soft-black)
}

.header-container .navigation .menu ul li {
    list-style: none;
    padding: 0rem 0.5rem;
}

.header-container .navigation .menu ul li:hover {
    font-size: 1.05rem;
    transition: 0.5s ease;
}

.header-container .navigation .menu ul li a {
    text-decoration: none;
    color: var(--soft-black);
}

.header-container .navigation .menu ul li a:visited{
    color: var(--soft-black);
}

.header-container .navigation .menu a:hover{
    border-bottom: 1px solid var(--soft-black);
}

.header-container .navigation .menu .active-bottom {
    border-bottom: 1px solid var(--soft-black);
}

.header-container .navigation .menu .arrow {
    border: solid var(--soft-black);
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    margin: 0rem 0rem 0.14rem 0.23rem;
}

.header-container .navigation .menu .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.header-container .navigation .icon-menu i {
    color: var(--soft-black);
}

.header-container .navigation .icon-menu ul li{
    list-style: none;
    padding: 0rem 0.5rem;
}

/*HEADER END*/

.d-flex {
    display: flex;
}

.playfair {
    font-family: var(--playfair);
}

.resp-icon {
    display: none;
}

@media (max-width: 768px) {
    .header-padding {
        padding: 1rem 0rem;
    }
    .resp-icon {
        display: inline-block;
        color: var(--soft-black)
    }
    .header-container .navigation .menu {
        position: absolute;
        background-color: #fff;
        margin-top: 0.5rem;
        top: 100%;
        height: 5rem;
        width: 25rem;
        left: -100%;
        transition: 0.5s ease-in-out;
    }
    .header-container .navigation .menu.active {
        left: 0.01rem;
        transform-origin: left;
        transform: scaleX(1);
        transition: 0.5s ease-in-out;
    }
    .header-container .navigation .menu .d-block {
        display: block;
    }
    .a-items {
        align-items: center;
    }
    .menu-btn-box {
        padding: 0rem 0.3rem;
    }
}
